[Desktop Entry]
Encoding=UTF-8
Name=SMARTBLOCK
Comment=SMARTBLOCK P2P Cryptocurrency
Comment[fr]=SMARTBLOCK, monnaie virtuelle cryptographique pair à pair
Comment[tr]=SMARTBLOCK, eşten eşe kriptografik sanal para birimi
Exec=smartblock-qt %u
Terminal=false
Type=Application
Icon=smartblock128
MimeType=x-scheme-handler/smartblock;
Categories=Office;Finance;
