[Unit]
Description=SMARTBLOCK's distributed currency daemon
After=network.target

[Service]
User=smartblock
Group=smartblock

Type=forking
PIDFile=/var/lib/smartblockd/smartblockd.pid

ExecStart=/usr/bin/smartblockd -daemon -pid=/var/lib/smartblockd/smartblockd.pid \
          -conf=/etc/smartblock/smartblock.conf -datadir=/var/lib/smartblockd

ExecStop=-/usr/bin/smartblock-cli -conf=/etc/smartblock/smartblock.conf \
         -datadir=/var/lib/smartblockd stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
